client/less/_icons_/*
_compiled_/*
_dist_/*
_dev_/*
_screenshots_/*
.idea/*
lib/*
package-lock.json
yarn.lock

node_modules/*
native/**/bin/*
native/**/obj/*

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride
client/_copies_
